<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<connectionStrings>
		<add name="cs" connectionString="Data Source=LAPTOP-RL04RJFJ\SQLEXPRESS;Initial Catalog=SGBDMagazinElectronice;Integrated Security=True"/>
	</connectionStrings>

	
	<appSettings>
		<add key="select_parent" value="select * from Magazin"/>
		<add key="select_child" value="select * from Manager"/>
		<add key="table_name_parent" value="Magazin"/>
		<add key="table_name_child" value="Manager"/>
		<add key="columns_name_parent" value="MId,NumarAngajati"/>
		<add key="columns_name_child" value="Nume,Prenume,Salar,MId"/>
		<add key="columns_name_child_insert_parameter" value="@nume,@prenume,@salar,@mid"/>
		<add key="columns_name_parent_insert_parameter" value="@numarAngajati"/>
		<add key ="update_child" value="update Manager set Nume = @nume, Prenume = @prenume, Salar = @salar, MId = @mid where ManagerID = @managerID"/>
		<add key ="child_id" value="ManagerID"/>
		<add key ="parent_id" value="MId"/>
		<add key="delete_child" value="delete from Manager where ManagerID = @managerID"/>
		<add key="number_of_columns_child" value="4"/>
		<add key="specify_id_select" value="select * from Manager where MId = @Mid"/>
	</appSettings>


	<!--<appSettings>
		<add key="select_parent" value="select * from Tara"/>
		<add key="select_child" value="select * from Producator"/>
		<add key="table_name_parent" value="Tara"/>
		<add key="table_name_child" value="Producator"/>
		<add key="columns_name_parent" value="IdTara,Nume"/>
		<add key="columns_name_child" value="Nume,Email,IdTara"/>
		<add key="columns_name_child_insert_parameter" value="@nume,@email,@idtara"/>
		<add key="columns_name_parent_insert_parameter" value="@nume"/>
		<add key ="update_child" value="update Producator set Nume = @nume, Email = @email, IdTara = @idtara where FId = @fid"/>
		<add key ="child_id" value="FId"/>
		<add key ="parent_id" value="IdTara"/>
		<add key="delete_child" value="delete from Producator where FId = @fid"/>
		<add key="number_of_columns_child" value="3"/>
		<add key="specify_id_select" value="select * from Producator where IdTara = @idtara"/>
	</appSettings>-->
</configuration>